/* ------------------------- */
/* About - Mission  */
/* --------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: 'Alegreya Sans';
    overflow-x: hidden;
    font-weight:lighter;
  }

  
  *,
  *:before,
  *:after {
      padding: 0;
      margin: 0;
      font-family: 'Alegreya Sans';
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /* overflow-x: hidden; */
      
  }
  
  /* html,
  body {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
  } */
  
  /* body {
    display: inline-block;
      background-color: #eee;
      font-family: 'Alegreya Sans';
      font-size: 100%;
      color: #2b2b2b;
  } */
  
  /* ol,
  ul {
      list-style: none;
  } */
  
  /* a {
      text-decoration: none;
      color: inherit;
  } */

  ::-moz-selection,
  ::selection {
      background-color: black;
      color: #eee;
  }
  
  
  /* -- Mobile Bar -- */
  
  .menu-toggle {
      display: none;
  }
  
  .mobile-bar {
      z-index: 10;
      position: fixed;
      opacity: .9;
      top: 0;
      left: 0;
      padding: 0 25px;
      width: 100%;
      height: 60px;
      background-color: #49F4FE;
      /* -shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
      float: right;
      color: #eee;
      height: 100%;
      /* width:auto; */
  }
  
  .nav-bar img {
      display: none;
  }
  
  .menu-icon {
      display: block;
      position: relative;
      width: 25px;
      height: 100%;
      cursor: pointer;
      /* transform property allows you to rotate, scale, move, skew, etc., elements. */
      -webkit-transition: -webkit-transform 300ms ease-in;
      transition: -webkit-transform 300ms ease-in;
      transition: transform 300ms ease-in;
      transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }
  
  
  /* creating a  menu bar */
  
  .menu-icon>span {
      display: block;
      /* float: right; */
      position: absolute;
      /* inserting into the middle of menu-icon space */
      top: 55%;
      margin-top: -0.3em;
      width: 100%;
      height: .3em;
      border-radius: 1px;
      background-color: #eee;
      -webkit-transition: -webkit-transform 300ms ease-in;
      transition: -webkit-transform 300ms ease-in;
      transition: transform 300ms ease-in;
      transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }
  
  
  /* constructing bars in between span */
  
  .menu-icon>span:before,
  .menu-icon>span:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 1px;
      background-color: #eee;
      -webkit-transition: -webkit-transform 300ms ease;
      transition: -webkit-transform 300ms ease;
      transition: transform 300ms ease;
      transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  
  
  /* creating top bar */
  
  .menu-icon>span:before {
      -webkit-transform: translateY(-0.6em);
      transform: translateY(-0.6em);
  }
  
  
  /* creating bottom bar */
  
  .menu-icon>span:after {
      -webkit-transform: translateY(0.6em);
      transform: translateY(0.6em);
  }
  
  
  /* -- Menu Icon Effects -- */
  
  
  /* + - select and style every element that are placed immediately after .menu-toggle */
  
  .menu-toggle:checked+.mobile-bar .menu-icon {
      /* rotates to all to 45deg */
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  
  /* rotates both top and bottom bars to 90deg */
  
  .menu-toggle:checked+.mobile-bar span:before,
  .menu-toggle:checked+.mobile-bar span:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  
  
  /**-- Fade-In/Out Effect --**/
  
  
  /*  ~ set elements that are preceded by a .menu-toggle with the same parent */
  
  .menu-toggle:checked~.nav-bar {
      visibility: visible;
      opacity: .8;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
  }
  
  
  /* -- Header -- */
  
  
  /* dropdown menu */
  
  .nav-bar {
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      position: center;
      top: 0;
      left: 0;
      /* pushing text down from menu bar */
      padding-top: 60px;
      width: 70%;
      height: 100%;
      background-color: #49F4FE;
      overflow-y: hidden;
      text-align: center;
      color: black(134, 25, 25);
      -webkit-transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
    transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
  }
  
  .nav-bar nav,
  .nav-bar ul {
      height: 100%;
  }
  
  .nav-bar img {
      position: center;
  }
  
  .nav-bar li {
      border-bottom: 1px solid #eee;
  }
  
  .nav-bar a {
      color: black;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      padding: 35px;
      display: block;
      -webkit-transition: background-color 300ms ease-in;
      transition: background-color 300ms ease-in;
  }
  
  .ion-social-instagram {
      color: black;
  }
  
  .ion-social-instagram:hover {
      color: #00ffff;
  }
  
  /* brand name and tagline */
  
  .boxed_logo {
      /* padding: 10px 23px; */
      display: inline-block;
      /* border: 2px solid #00ffff; */
      outline:2px solid #49F4FE;
      outline-offset: .5em;
      font-size: 1.5em;
      margin: 2em 0;
      /* margin-bottom: 0; */
      color: white;
      font-weight: 300;
      text-transform: uppercase;
  }
  
  .boxed_logo:hover {
      color: #00ffff;
      ;
      outline-color: white;
      transition: all ease-in-out 250ms;
  }
  
  #title{
      position: relative;
  }
  
  .logo_tagline {
      margin-bottom: 10px;
      color: white;
      font-weight: 300;
      font-size: .8em;
      padding: 5px 4px;
      position:absolute;
      top: 71%;
      left: 50%;
      transform:translate(-50%, -50%);
      background-color: #262626;
      text-transform: uppercase;
  }
  
  nav a:hover,
  nav a.active {
      background-color: #eee;
  }


  
  /* about - beginning */

  
  
  .intro {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('BHPics/lifestyle5.JPG');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    color: white;
    text-transform: uppercase;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    letter-spacing: .2em;
    font-size: 2.5em;
  }
  
  
  /* mission statement */
  
  .grid>* {
    padding: 30px;
  }
  
  .grid {
    display: grid;
    margin: 0 auto;
    /* same as 1fr 1fr 1fr 1fr */
    grid-template-columns: repeat(4, 1fr);
    /* minimum row height is 100px, and resize depending on content inside the grid - auto */
    grid-auto-rows: minmax(250px, auto);
  }
  
  .mission_statement {
    grid-column: 1/3;
    grid-row: 1/3;
    background: black;
    text-align: left;
    font-weight: lighter;
    letter-spacing: .1em;
  }
  
  .mission {
    padding: 2em;
    outline: 2px solid #60E1F6;
    outline-offset: .5em;
    height: 100%;
  }
  
  .mission h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #60E1F6;
    font-weight: bold;
  }
  
  .mission h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #60E1F6;
    font-weight: bold;
  }
  
  .mission p {
    margin-bottom: 3em;
    color: white;
    font-weight: bold;
  }
  
  .mission a {
    text-transform: uppercase;
    color: white;
    border: 1px solid #60E1F6;
    padding: .5em 1em;
    font-weight: bold;
  }
  
  .mission a:hover {
    background: #60E1F6;
    color: white;
  }
  
  .pic1 {
    grid-column: 3/4;
    grid-row: 1/2;
    background: url("BHPics/lifestyle1.JPG");
    background-position: center;
    background-size: cover;
  }
  
  .pic10 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url("BHPics/lifestyle9.jpg");
    background-position: center;
    background-size: cover;
  }
  
  /* .inner_text {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: .1em;
    font-weight: lighter;
  }
  
  .inner_text h3 {
    font-weight: 300;
    font-size: 1.2em;
  }
  
  .inner_text p {
    font-size: .7em;
    color: black;
  } */
  
  .pic2 {
    grid-column: 4/5;
    grid-row: 1/2;
    background: url("BHPics/lifestyle7.JPG");
    background-position: center;
    background-size: cover;
  }
  
  .pic3 {
    grid-column: 4/5;
    grid-row: 2/3;
    background: url("BHPics/lifestyle6.JPG");
    background-position: center;
    background-size: cover;
  }
  
  /* -------------------------- */
  /* About - Contact Form  */
  /* -------------------------- */
  
  #sub_text {
    font-weight: lighter;
    margin-bottom: 1em;
  }
  
  #sub_text h3{
    font-weight:300;
    margin-top:1.5em;
  }
  
  #sub_text p {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
  }
  
  .submit {
    clear: both;
    width: 100%;
  }
  
  .submission {
    text-align: left;
    font-weight: lighter;
  }
  
  form {
    overflow: hidden;
    width: 70%;
  }
  
  .error,
  .message {
    margin-bottom:1em;
  }
  
  .error{
    color: #e62739;
  }
  
  .message{
    color: #49C5B6;
  }
  
  input {
    background-color: #f1f1f1;
  }
  
  input:focus {
    outline: none;
  }
  
  input[type=submit] {
    float: left;
    border: 2px solid #60E1F6;
    color: #fff;
    background-color: #60E1F6;
    padding: 1em 2em;
    font-size: .8em;
    font-weight:300;
    cursor: pointer;
  }
  
  input[type=text],
  input[type=email],
  input[type=textarea] {
    width: 100%;
    clear: both;
    border: none;
    border-bottom: 2px solid #60E1F6;
    margin-bottom: 1em;
    font-size: 18px;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
  }
  
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=textarea]:hover {
    border-bottom: 2px solid black;
  }
  
  input[type=textarea] {
    height: 7em;
  }
  
  
  /* ------------------------- */
  /* About - Contact Info */
  /* --------------------------*/
  
  
  .info {
    grid-column: 1/3;
    grid-row: 1/3;
    background: #323846;
    color: white;
  }
  
  .info_text{
    text-align:left;
    margin-left:3em;
    color:white;
    font-weight: bold;
  }
  
  .info_text h3{
    margin-top:2em;
  }
  
  #first_p{
    font-size:2.5em;
    margin-bottom:1em;
  }
  
  #second_p{
    font-weight:100;
    margin-bottom: .5em;
  }
  
  #third_p{
    color:#00ffff;
    font-size:2em;
  }
  
  .info_text li{
    display:inline-block;
    margin-right:1.5em;
    font-size: 1em;
  }
  
  .info_icon{
    text-decoration:none;
    color:white;
    width: 100px;
  }
  
  .info_icon:hover{
    color:#60E1F6;
  }
  
  ul{
    text-decoration:none;
  }
  
  
  
  .submission {
    grid-column: 3/5;
    grid-row: 1/3;
    background: #f1f1f1;
    color: black;
  }
  
  
  /* ------------------------- */
  /* About End  */
  /* --------------------------*/
  
  
  /* Content Ending */
  
  #content_end {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("BHPics/lifestyle2.JPG");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
  }
  
  #end_text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    height:50%;
  }
  
  #end_text img {
    width: 60px;
  }
  
  #end_text p {
    font-weight: lighter;
    font-size: 1em;
  }
  
  #end_text h2 {
    font-size: 2em;
    margin: .5em 0 1em 0;
    letter-spacing: .2em;
  }
  
  #end_text a {
    padding: .5em 1em;
    border: 1px solid #00ffff;
    border-bottom: 1px solid #00ffff;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2em;
    font-weight:300;
  }
  
  #end_text a:hover {
    background: #00ffff;
  }


  /* -- footer -- */

footer {
    background: #292929;
    text-align: left;
    color:#eee;
    min-height: 24em;
    padding-top: 3em;
    font-size: 85%;
    /* margin: 0 auto; */
}

.container {
  text-decoration: none;
    display:grid;
    width: 90%;
    margin: 0 auto;
    /* same as 1fr 1fr 1fr 1fr */
    grid-template-columns:repeat(4, 1fr);
    /* minimum row height is 100px, and resize depending on content inside the grid - auto */
    grid-auto-rows: minmax(200px,auto);
    font-weight: 300;
    border-bottom: 1px solid #eee;
}

.brand{
    grid-column:1/3;
    /* grid-row: 1/3; */
    margin-right: 5%;
    position:relative;
}

.brand li{
    display:inline-block;
}

.brand img{
    position:absolute;
    top:0;
    left:0;
    float: left;
    height: 40px;
}

/* .contacts{
    grid-row: 1/3;
} */

.brand h2,
.contacts h2,
.social h2{
    font-weight:normal;
    text-transform: uppercase;
    margin: .4em 0 .3em 0;
}

.brand h2{
    margin-left: 2em;
    margin-bottom: 1em;
}

.social{
    margin-left: 1em;
}

.social li{
    display:inline-block;
    font-size: 2em;
    /* margin-right: 1em;
    border-radius: 50%; */
    width: 40px;
    height: 40px;
    /* line-height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 2.5px; */
}

.ion-social-instagram:hover{
    color: #C32AA3
}

.ion-social-facebook:hover{
    color:#3B5998;
} 

.ion-social-twitter:hover{
    color:#00B6F1;
}

#copyright {
    margin-top: 2em;
    margin-right: 5%;
    float: right;
}
  
  @media(max-width:420px) {
    .intro{
        height: 100vh;
    }
  
    #content_end {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("BHPics/lifestyle2.JPG");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 75vh;
    }
    #end_text{
      overflow:hidden;
    }
  
    #end_text h2 {
        font-size: 1.6em;
        letter-spacing: .1em;
        margin-bottom: 2em;
    }
    #end_text img{
      width:47px;
    }
  
    .info_text li{
      margin:0;
    }
  
  
  }
  
  
  @media(max-width:768px) {
    
    .info_text{
      margin-left:0;
    }
    .grid,
    .grid2 {
        grid-template-columns: 1fr 1fr;
    }
    .content {
        font-size: 1.5em;
    }
    .mission_statement,
    .info {
        grid-row: 1/3;
    }
    .mission {
        padding: 2em;
        text-align:center;
    }
    .mission h3 {
        font-size: 2em;
    }
    .mission h4 {
        font-size: 1em;
    }
    .inner_text h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .mission_statement,
    .service1,
    .service2,
    .service3,
    .meet,
    .info,
    .submission {
        grid-column: 1/3;
    }
    .service1,
    .meet {
        grid-row: 1/2;
    }
    .service2,
    .pic4,
    .pic5 {
        grid-row: 2/3;
    }
    .pic1,
    .pic2,
    .service3,
    .pic7,
    .pic6 {
        grid-row: 3/4;
    }
    .pic1,
    .pic10,
    .pic8,
    .pic6,
    .pic4 {
        grid-column: 1/2;
    }
    .pic2,
    .pic3,
    .join,
    .pic7,
    .pic5 {
        grid-column: 2/3;
    }
    .pic10,
    .pic3,
    .pic8,
    .join {
        grid-row: 4/5;
    }
  
    .profile{
        display:block;
    }
  
    .pic4,
    .pic5,
    .pic6,
    .pic7,
    .pic8{
        -webkit-filter:grayscale(0);
        filter:grayscale(0);
    }
  
    #meet_text{
        margin-left:0;
    }
  
    .info_text {
        text-align:left;
        margin:0;
    }
  
    .submission {
        grid-row: 3/5;
    }
    form {
        width: 80%;
    }
  }


    @media(min-width: 720px) {
      .mobile-bar {
          display: none;
      }
  
      .boxed_logo,
      .logo_tagline{
          display:none;
      }
      
      /* building desktop navbar */
      .nav-bar {
          z-index: 5;
          position: relative;
          left: 0;
          padding-top: 0;
          width: 100%;
          height: auto;
          overflow: hidden;
          visibility: visible;
          opacity: 0.9;
      }
      .nav-bar img {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
      }
      .nav-bar ul {
          float: right;
          overflow: hidden;
      }
      .nav-bar li {
          display: inline-block;
          margin-right: -6px;
          border: none;
      }
      .nav-bar a {
          padding: 30px;
      }
    }

  @media (max-width: 700px) {
    footer{
        padding-top:1em;
        min-height:27em;
    }

    .container{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px,auto);
    }

    .social,
    .brand,
    .contacts {
        margin: 1.5em 0;
    }
  }